*.exe
*.ini
*.txt
*.log
*.dmp
*.zip
*.pdf
*.dll
*.raw
*.url
*.wld
*.bak

Config.ini
UserConfig.ini
*.dat
/bak/
/CameraPaths/
/GUI/
/mods/
/Movie/
/msx/
/Objects/
/Particles/
/Resource/
/savegames/
/Scenes/
/sfx/
/Shader/
/Shots/
/Textures/
/worlds/
/.settings/
.project
.buildpath